# Automação Web e Busca de Informações com Python

#### Desafio: 

-entar na internet
-Entrar numbeo
-Pesquisar e selecionar a cidade (e fazer para todas as selecionadas)
-pegar os numeros que queremos
-importar a base de dados

In [ ]:
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys
import time
from datetime import datetime
import re

# para rodar o chrome em 2º plano
# from selenium.webdriver.chrome.options import Options
# chrome_options = Options()
# chrome_options.headless = True 
# navegador = webdriver.Chrome(options=chrome_options)

#defenir listas
city_details = []
city_name_list = []
cost_of_living_list = []
utilities_cost_list = []
internet_cost_list = []
mob_phone_presc_list = []
apt_cost_list = []
average_salary_list = []

# 1 abrir um navegador
navegador = webdriver.Chrome()

# 2 entrar no numbeo e por stcky currency (tudo em USD)
navegador.get("https://www.numbeo.com/cost-of-living/")
navegador.find_element_by_xpath('//*[@id="city_selector_menu_city_id"]').send_keys('New York')
time.sleep(3)
navegador.find_element_by_xpath('//*[@id="city_selector_menu_city_id"]').send_keys(Keys.ENTER)
time.sleep(3)
try:
    navegador.find_element_by_xpath('/html/body/div[4]/div[1]/button/span[1]').click()
except NoSuchElementException:
    pass

navegador.find_element_by_xpath('/html/body/div[2]/nav[3]/form/span[1]/a').click()
time.sleep(3)
navegador.find_element_by_xpath('//*[@id="currency"]').click()
navegador.find_element_by_xpath('//*[@id="currency"]').send_keys(Keys.UP)
navegador.find_element_by_xpath('//*[@id="currency"]').send_keys(Keys.ENTER)
time.sleep(2)
navegador.get("https://www.numbeo.com/cost-of-living/")
try:
    navegador.find_element_by_xpath('/html/body/div[4]/div[1]/button/span[1]').click()
except NoSuchElementException:
    pass


# Importar lista das cidades
import csv
with open('numbeo_city_list.csv') as csvfile:
    reader = csv.DictReader(csvfile)
    
    count = 0
    numbeo_city_list = []
    
    for row in reader:
        count = count + 1
        #print(row['Slug'])
        numbeo_city_list.append(row['Slug'])


city_list = numbeo_city_list

for index, element in enumerate (city_list):
    navegador.find_element_by_xpath('//*[@id="city_selector_menu_city_id"]').send_keys(Keys.CONTROL,"a")
    navegador.find_element_by_xpath('//*[@id="city_selector_menu_city_id"]').send_keys(Keys.DELETE)
    navegador.find_element_by_xpath('//*[@id="city_selector_menu_city_id"]').send_keys(element)
    time.sleep(3)
    try:
        navegador.find_element_by_xpath('//*[@id="city_selector_menu_city_id"]').send_keys(Keys.ENTER)
    except NoSuchElementException:
        pass
        
    time.sleep(3)
#tirar pagina login
    try:
        navegador.find_element_by_xpath('/html/body/div[4]/div[1]/button/span[1]').click()
    except NoSuchElementException:
        pass

#Passar para USD
#navegador.find_element_by_xpath('//*[@id="displayCurrency"]').click()
#navegador.find_element_by_xpath('//*[@id="displayCurrency"]').send_keys(Keys.DOWN,Keys.ENTER)

#Ficar com os dados
    try:
        city_name = navegador.find_element_by_xpath('/html/body/div[2]/nav[1]/span[5]/a/span').text
    except NoSuchElementException:
        pass
    city_name_list.append(city_name)
        


    try:
        cost_of_living = navegador.find_element_by_xpath('/html/body/div[2]/div[2]/ul/li[2]/span').text
        cost_of_living_clean = cost_of_living[:8]

        #cost_of_living = cost_of_living.split(' ')[1].split('$')[0]
        #cost_of_living = cost_of_living[:cost_of_living.index(" ")]
    except NoSuchElementException:
        cost_of_living_clean = '?' 
    cost_of_living_list.append(cost_of_living_clean)
        

    try:
        utilities_cost = navegador.find_element_by_xpath('/html/body/div[2]/table/tbody/tr[40]/td[2]/span').text
    except NoSuchElementException:
        pass
    utilities_cost_list.append(utilities_cost)

    try:
        mob_phone_presc = navegador.find_element_by_xpath('//html/body/div[2]/table/tbody/tr[41]/td[2]/span').text
    except NoSuchElementException:
        pass
    mob_phone_presc_list.append(mob_phone_presc)
        

    try:
        internet_cost = navegador.find_element_by_xpath('/html/body/div[2]/table/tbody/tr[42]/td[2]/span').text
    except NoSuchElementException:
        pass
    internet_cost_list.append(internet_cost)
        

    try:
        apt_cost = navegador.find_element_by_xpath('/html/body/div[2]/table/tbody/tr[56]/td[2]/span').text
    except NoSuchElementException:
        pass
    apt_cost_list.append(apt_cost)

    try:
        average_salary = navegador.find_element_by_xpath('/html/body/div[2]/table/tbody/tr[64]/td[2]/span').text
    except NoSuchElementException:
        pass
    average_salary_list.append(average_salary)
        
    
    cost_of_living = cost_of_living.replace(",", "")
    apt_cost = apt_cost.replace(",", "")
    average_salary = average_salary.replace(",", "")
    utilities_cost = utilities_cost.replace(",", "")
    mob_phone_presc = mob_phone_presc.replace(",", "")
    internet_cost = internet_cost.replace(",", "")
    

print(city_name_list)
print(cost_of_living_list)

navegador.quit()

Criar a tabela

- Criar a DataFrame para tabela

In [6]:
import pandas as pd

lista_zip = list(zip(city_name_list,cost_of_living_list, utilities_cost_list, mob_phone_presc_list, internet_cost_list, apt_cost_list, average_salary_list))

tabela = pd.DataFrame((lista_zip), columns=['city_name','cost_of_living','utilities_cost','mob_phone_presc','internet_cost','apt_cost','average_salary'])

display(tabela)

,city_name,cost_of_living,utilities_cost,mob_phone_presc,internet_cost,apt_cost,average_salary
0,Alexandria,363.19$,23.96 $,0.01 $,16.93 $,202.45 $,207.79 $
1,Amman,698.74$,72.49 $,0.04 $,42.73 $,370.84 $,588.39 $
2,Amman,698.74$,72.49 $,0.04 $,42.73 $,370.84 $,588.39 $
3,Erbil (Irbil),465.66€,96.63 $,0.07 $,37.55 $,464.27 $,623.97 $
4,Asyut,?,27.07 $,0.04 $,15.88 $,181.52 $,318.46 $
...,...,...,...,...,...,...,...
68,Guadalajara,453.84$,31.45 $,0.06 $,27.39 $,490.54 $,526.18 $
69,Tampico,?,24.34 $,0.15 $,26.17 $,170.38 $,535.48 $
70,Colima,?,39.17 $,0.05 $,25.22 $,?,292.08 $
71,Leon,?,45.03 $,0.12 $,32.86 $,97.36 $,535.48 $
72,Queretaro,463.06$,68.76 $,0.06 $,21.42 $,308.30 $,618.23 $

Tabela para CSV

In [240]:
tabela.to_csv('tabela_numbeo_csv.csv', index=False)

exportar csv

In [ ]:
print(city_list)